<div style="max-width: 38em">
  <mat-card>
    <mat-card-title>Cadastro de Pessoa</mat-card-title>
    <mat-card-content>
      <form class="example-form">
        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
          "
        >
          <mat-form-field class="example-full-width">
            <mat-label>Nome</mat-label>
            <input
              type="text"
              matInput
              placeholder="João da Silva"
              name="nome"
              [(ngModel)]="nome"
            />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Data de Nascimento</mat-label>
            <input
              matInput
              [matDatepicker]="picker1"
              [(ngModel)]="data"
              name="data"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <div class="example-button-container">
            <button
              mat-mini-fab
              color="accent"
              aria-label="Example icon button with a plus one icon"
              type="button"
              (click)="adicionar()"
            >
              <mat-icon>plus_one</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
